@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(241, 245, 249, 0.5);
}

#root {
  height: 100vh;
}

@layer components {
  /* Homw Button CSS */
  .button-home {
    font-weight: 600;
    letter-spacing: 1px;
    padding: 25px 75px 25px;
    outline: 1px solid black;
    cursor: pointer;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    z-index: 2;
  }

  .button-home:after {
    content: "";
    background-color: #ffe54c;
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
    top: 10px;
    left: 10px;
    transition: 0.2s;
  }

  .button-home:hover:after {
    top: 0px;
    left: 0px;
  }

  .active {
    border-left: 4px solid #ffe54c;
    padding-left: 6px;
  }

  .packman-loader-shadow {
    position: absolute;
    bottom: -13px;
    left: -12px;
    width: 35px;
    height: 6px;
    /* FF3.6+ */
    background: -moz-radial-gradient(
      center,
      ellipse cover,
      rgba(0, 0, 0, 0.65) 0%,
      rgba(184, 184, 184, 0) 72%,
      rgba(255, 255, 255, 0) 100%
    );
    /* Chrome,Safari4+ */
    background: -webkit-gradient(
      radial,
      center center,
      0px,
      center center,
      100%,
      color-stop(0%, rgba(0, 0, 0, 0.65)),
      color-stop(72%, rgba(184, 184, 184, 0)),
      color-stop(100%, rgba(255, 255, 255, 0))
    );
    /* Chrome10+,Safari5.1+ */
    background: -webkit-radial-gradient(
      center,
      ellipse cover,
      rgba(0, 0, 0, 0.65) 0%,
      rgba(184, 184, 184, 0) 72%,
      rgba(255, 255, 255, 0) 100%
    );
    /* Opera 12+ */
    background: -o-radial-gradient(
      center,
      ellipse cover,
      rgba(0, 0, 0, 0.65) 0%,
      rgba(184, 184, 184, 0) 72%,
      rgba(255, 255, 255, 0) 100%
    );
    /* IE10+ */
    background: -ms-radial-gradient(
      center,
      ellipse cover,
      rgba(0, 0, 0, 0.65) 0%,
      rgba(184, 184, 184, 0) 72%,
      rgba(255, 255, 255, 0) 100%
    );
    /* W3C */
    background: radial-gradient(
      ellipse at center,
      rgba(0, 0, 0, 0.65) 0%,
      rgba(184, 184, 184, 0) 72%,
      rgba(255, 255, 255, 0) 100%
    );
  }
}
